table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding:.25rem 1rem;
}

.clickable:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}

.nav-list {
    list-style-type: none;
    display:flex;
    gap:2rem;
    padding:0;
}